<div class="container">
    <div class="row">
      <div class="twelvecol">
        <div class="logo">Slide</div>
        <div class="nav_bar"><div class="red"></div> </div>
      </div>
    </div>
    <div class="row">
      <div class="twelvecol">
      
        <% @rooms.each do |room| %>
        <div class="box_container">
        <div class="box">
          <div class="title"><%= room.name %></div>
          <div class="com"><%= room.com %></div> <div class="hor"></div>
        <div class="info"><%= room.info %></div>

        <%= link_to 'Join', room_path(room) , :class => "join" %>
          </div>
        </div>
        <% end %>       
  
 </div>
      </div>

  <div class="row">
        <div class="twelvecol">
        <%=link_to("Logout", destroy_user_session_path, :method => :delete, :class => "footer_links")%>
        <%= link_to('Login', new_user_session_path, :class => "footer_links")  %>  
        <%= link_to "registration", new_user_registration_path , :class => "footer_links"%>
        <% if user_signed_in? %><%= link_to "Auth", user_path(current_user), :class => "footer_links" %> <%end%>
        </div>
  </div>
</div>


